@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
root {
    --primary-color: black;
    --secondaty-color: green;
    --terciary-color: yellow;
 /* tipografia */
    --reboto: "Reboto";

}

.card img {
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.08);
}
.detalleProducto {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.abel-img {
 

  width: 100%;           /* ocupa todo el ancho disponible */
  height: 600px;         /* alto que quieras darle */
  background-image: url("../assets/img/abel-pintosjpg.webp");
  background-position: top;   /* centra la imagen */
  background-repeat: no-repeat;  /* evita que se repita */
  background-size: cover;        /* cubre todo el contenedor */
}
.lali-img {
 

  width: 100%;           /* ocupa todo el ancho disponible */
  height: 600px;         /* alto que quieras darle */
  background-image: url("../assets/img/lali.avif");
  background-position: top;   /* centra la imagen */
  background-repeat: no-repeat;  /* evita que se repita */
  background-size: cover;        /* cubre todo el contenedor */
}

.joaqui-img {
  width: 100%;           /* ocupa todo el ancho disponible */
  height: 600px;         /* alto que quieras darle */
  background-image: url("../assets/img/lajoaqui.avif");
  background-position: top;   /* centra la imagen */
  background-repeat: no-repeat;  /* evita que se repita */
  background-size: cover; 
}

.konga-img {
  width: 100%;           /* ocupa todo el ancho disponible */
  height: 600px;         /* alto que quieras darle */
  background-image: url("../assets/img/Konga.jpg");
  background-position: top;   /* centra la imagen */
  background-repeat: no-repeat;  /* evita que se repita */
  background-size: cover; 
}
.miranda-img {
    width: 100%;           /* ocupa todo el ancho disponible */
  height: 600px;         /* alto que quieras darle */
  background-image: url("../assets/img/miranda-grande.jpg");
  background-position: top;   /* centra la imagen */
  background-repeat: no-repeat;  /* evita que se repita */
  background-size: cover; 
}